---
layout: layouts/post-video.njk

title: "Can Sea Water Desalination Save The World?"
source: "CNBC"
sourceURL: "https://www.youtube.com/c/CNBC/videos"
description: "Today, one out of three people don’t have access to safe drinking water. And that’s the result of many things, but one of them is that 96.5% of that water is found in our oceans. It’s saturated with salt, and undrinkable. Most of the freshwater is locked away in glaciers or deep underground. Less than one percent of it is available to us. So why can’t we just take all that seawater, filter out the salt, and have a nearly unlimited supply of clean, drinkable water?"
date: "2021-04-04"
tags:
- "engineering"
- "clean water"
- "zach"
videoType: "youtube"
videoID: "bfr82RB72U8"
---
