---
layout: layouts/post-video.njk

title: "Discovery of the Fermilab muon"
source: "Physics Girl"
sourceURL: "https://www.youtube.com/c/physicsgirl/videos"
description: "Explanation of the exciting new Fermilab muon and its impact on the study of physics."
date: "2021-04-18"
tags:
- "physics"
- "discovery"
- "steve"
videoType: "youtube"
videoID: "0roQUZvU-As"
---
