---
layout: layouts/post-video.njk

title: "How The Next Batteries Will Change the World"
source: "Bloomberg Quicktake"
sourceURL: "https://www.youtube.com/BloombergTV/videos"
description: "Silicon Valley is about to commercialize revolutionary technology that will enable huge breakthroughs in the battle against global warming."
date: "2021-04-11"
tags:
- "engineering"
- "chemistry"
- "batteries"
- "steve"
videoType: "youtube"
videoID: "oh5ULFMsQHU"
---
