---
layout: layouts/post-video.njk

title: "How Victorians Knowingly Poisoned Their Food"
source: "Absolute History"
sourceURL: "https://www.youtube.com/channel/UCr5qeBG9g7bGtMGyHG2GzbQ/videos"
description: "Dr Suzannah Lipscomb show us the dangerous ways the Victorians adulterated food and its deadly consequences."
date: "2021-04-18"
tags:
- "history"
- "victorian"
- "food"
- "zach"
videoType: "youtube"
videoID: "bkQ0RFTHvIo"
---
