---
layout: layouts/post-video.njk

title: "How Humans Became (Mostly) Right-Handed"
source: "PBS Eons"
sourceURL: "https://www.youtube.com/c/eons/videos"
description: "No other placental mammal that we know of prefers one side of the body so consistently, not even our closest primate relatives. But being right-handed may have deep evolutionary roots in our lineage. And yet, being a leftie does seem to come with some unexpected advantages."
date: "2021-04-04"
tags:
- "history"
- "biology"
- "steve"
videoType: "youtube"
videoID: "vb11oOHYNXM"
---
