---
layout: layouts/post-video.njk

title: "The Truth About Vinyl - Vinyl vs. Digital"
source: "Real Engineering"
sourceURL: "https://www.youtube.com/c/RealEngineering/videos"
description: "Exploring the differences in technology between vinyl and digital music, and how the human ear picks up the frequencies from each."
date: "2021-04-11"
tags:
- "engineering"
- "music"
- "hearing"
- "zach"
videoType: "youtube"
videoID: "lzRvSWPZQYk"
---
