---
layout: layouts/post-video.njk

title: "This Unstoppable Robot Could Save Your Life"
source: "Veritasium"
sourceURL: "https://www.youtube.com/c/veritasium/videos"
description: "This robot has applications to archaeology, space exploration, and search and rescue — with a simple elegant design inspired by a plant."
date: "2021-04-25"
tags:
- "engineering"
- "innovation"
- "robots"
- "zach"
videoType: "youtube"
videoID: "qevIIQHrJZg"
---
