---
layout: layouts/post-video.njk

title: "Wave Power Could Be Energy's Next Big Leap"
source: "Bloomberg Quicktake"
sourceURL: "https://www.youtube.com/BloombergTV/videos"
description: "Searching for ways to reduce our reliance on fossil fuels, engineers and entrepreneurs are looking to a largely untapped potential source of renewable energy: wave power."
date: "2021-04-04"
tags:
- "engineering"
- "renewable energy"
- "zach"
videoType: "youtube"
videoID: "jahAum3zLsY"
---
