---
layout: layouts/post-video.njk

title: "What Really Happened at the Suez Canal?"
source: "Practical Engineering"
sourceURL: "https://www.youtube.com/c/PracticalEngineeringChannel/videos"
description: "Exploring the engineering principles behind the recent obstruction of the Suez Canal, which caused a weeklong disruption in global shipping traffic. I give a brief overview of the bank effect and dilatancy of coarse-grained soils."
date: "2021-04-25"
tags:
- "engineering"
- "shipping"
- "current events"
- "steve"
videoType: "youtube"
videoID: "Ty-m4pm8oog"
---
