---
layout: layouts/post-video.njk

title: "What If Dark Matter Is Just Black Holes?"
source: "PBS Space Time"
sourceURL: "https://www.youtube.com/c/pbsspacetime/videos"
description: "It may be that for every star in the universe there are billions of microscopic black holes streaming through the solar system, the planet, even our bodies every second. Sounds horrible - but hey, at least we’d have explained dark matter."
date: "2021-04-18"
tags:
- "physics"
- "black holes"
- "dark matter"
- "steve"
videoType: "youtube"
videoID: "qy8MdewY_TY"
---
