---
layout: layouts/post-video.njk

title: "A new way to visualize General Relativity"
source: "ScienceClic English"
sourceURL: "https://www.youtube.com/c/ScienceClicEN/videos"
description: "How to faithfully represent general relativity? Is the image of the rubber sheet accurate? What is the curvature of time?"
date: "2021-05-16"
tags:
- "physics"
- "space"
- "modeling"
- "zach"
videoType: "youtube"
videoID: "wrwgIjBUYVc"
---
