---
layout: layouts/post-video.njk

title: "A Plastic Wave - A documentary film on plastic pollution"
source: "James Roberts"
sourceURL: "https://www.youtube.com/channel/UC4fzPkzdR3sYsS8HmV5c6xw/videos"
description: "Plastic Pollution is a very real threat to the future of our planet, the animals that inhabit our oceans and ultimately the human race. The problem is far worse than it seems on the surface and we need to act now to ensure we protect the future for ourselves and our planet."
date: "2021-05-02"
tags:
- "plastic"
- "pollution"
- "sustainability"
- "steve"
videoType: "youtube"
videoID: "9-dpv2xbFyk"
---
