---
layout: layouts/post-video.njk

title: "Conflict in Israel and Palestine"
source: "CrashCourse"
sourceURL: "https://www.youtube.com/user/crashcourse/videos"
description: "This conflict is often cast as a long-term beef going back thousands of years, and rooted in a clash between religions. Well, that's not quite true. What is true is that the conflict is immensely complicated, and just about everyone in the world has an opinion about it."
date: "2021-05-16"
tags:
- "history"
- "israel"
- "palestine"
- "steve"
videoType: "youtube"
videoID: "1wo2TLlMhiw"
---
