---
layout: layouts/post-video.njk

title: "Interpreter Breaks Down How Real-Time Translation Works"
source: "WIRED"
sourceURL: "https://www.youtube.com/c/WIRED/videos"
description: "Conference interpreter Barry Slaughter Olsen explains what it's really like to be a professional interpreter. Barry goes behind the scenes of his vocation, breaking down the many real-life scenarios he faces on a day-to-day basis. From simultaneous and consecutive interpretation to chuchotage and décalage, take a peek behind what it really takes to be a professional interpreter."
date: "2021-05-23"
tags:
- "language"
- "sydney"
videoType: "youtube"
videoID: "twCpijr_GeQ"
---
