---
layout: layouts/post.njk

title: "Tech Offices"
description: "Check out the amazing offices built by Microsoft, Amazon, Facebook, and Google."
date: "2021-05-02"
tags:
- "engineering"
- "offices"
- "microsoft"
- "google"
- "amazon"
- "facebook"
- "zach"
videoType: "youtube"
---


<p class="mb-5">{{ description }}</p>

<div class="row justify-content-around">
	<div class="col-lg-5 mb-5">
		<h2>Microsoft HQ</h2>
		{% embedVideo videoType, "lOTmYcxCxjU" %}
	</div><!-- end col -->

	<div class="col-lg-5 mb-5">
		<h2>Amazon HQ</h2>
		{% embedVideo videoType, "Dk3thX_pb5k" %}
	</div><!-- end col -->

	<div class="col-lg-5 mb-5">
		<h2>Facebook HQ</h2>
		{% embedVideo videoType, "f1fbuOkxugs" %}
	</div><!-- end col -->

	<div class="col-lg-5 mb-5">
		<h2>Google HQ</h2>
		{% embedVideo videoType, "Z-pT0XDYvDM" %}
	</div><!-- end col -->
</div><!-- end row -->
