---
layout: layouts/post-video.njk

title: "The Truth About Space Debris"
source: "Real Engineering"
sourceURL: "https://www.youtube.com/c/RealEngineering/videos"
description: "This video explores the potential dangers of space and how pieces of matter that measure in centimeters can be deadly for future space exploration."
date: "2021-05-09"
tags:
- "space"
- "sustainability"
- "steve"
videoType: "youtube"
videoID: "itdYS9XF4a0"
---
