---
layout: layouts/post-video.njk

title: "The surprising solution to ocean plastic"
source: "TED"
sourceURL: "https://www.youtube.com/c/TED/videos"
description: "Can we solve the problem of ocean plastic pollution and end extreme poverty at the same time? That's the ambitious goal of The Plastic Bank: a worldwide chain of stores where everything from school tuition to cooking fuel and more is available for purchase in exchange for plastic garbage -- which is then sorted, shredded and sold to brands who reuse 'social plastic' in their products."
date: "2021-05-02"
tags:
- "plastic"
- "pollution"
- "sustainability"
- "steve"
videoType: "youtube"
videoID: "mT4Qbp89nIQ"
---
