---
layout: layouts/post-video.njk

title: "Tokyo Flood Prevention"
source: "ABC Science"
sourceURL: "https://www.youtube.com/c/ABCScience/videos"
description: "Fifty metres under Tokyo lies a subterranean world — 6.4 kilometres of tunnels, water tanks and massive pillars constructed to withstand 200 tonnes of water per second. This engineering marvel built to protect the ever-present threat of Tokyo flooding."
date: "2021-05-09"
tags:
- "engineering"
- "construction"
- "flooding"
- "zach"
videoType: "youtube"
videoID: "Rp2l6nFIsZA"
---
