---
layout: layouts/post-video.njk

title: "What's the deepest point on Earth?"
source: "Debunked"
sourceURL: "https://www.youtube.com/channel/UChagpdlC1jfNTqQc1dQ95OQ/videos"
description: "This video covers the globe looking at natural formations above and below sea level, caverns, and the deepest that humans have ever drilled."
date: "2021-05-23"
tags:
- "geography"
- "steve"
videoType: "youtube"
videoID: "nQtObqmNYWM"
---
