---
layout: layouts/post-video.njk

title: "Why Does Road Construction Take So Long?"
source: "Practical Engineering"
sourceURL: "https://www.youtube.com/c/PracticalEngineeringChannel/videos"
description: "Like it or not, roads are part of the fabric of society. Travel is a fundamental part of life for nearly everyone. Unfortunately, that means road construction is too. But, I hope I can give you a little more appreciation for what’s going on behind the orange cones."
date: "2021-05-09"
tags:
- "engineering"
- "construction"
- "roads"
- "zach"
videoType: "youtube"
videoID: "PIK6I6Q58Ec"
---
