<footer class="text-center pb-5">
	<p>🔥 <a href="https://www.brewhouse.digital/" target="_blank" rel="noopener">A Brewhouse Digital site</a> 🔥</p>
	<p><a href="/language/" class="text-decoration-none">☕</a></p>
</footer>

{#<script src="/js/bootstrap.js"></script>#}
<script>
	{% set js %}
	{% include "source/_includes/partial-js/scripts.js" %}
	{% endset %}
	{{ js | safe }}
</script>
