<link href="/css/bootstrap.css" rel="stylesheet">
<style>
	{% set css %}
	{% include "source/_includes/partial-css/shooting-stars.css" %}
	{% include "source/_includes/partial-css/dark-mode.css" %}

	{% include "source/_includes/partial-css/styles.css" %}
	{% endset %}
	{{ css | minifyCSS | safe }}
</style>
