---
layout: layouts/post-video.njk

title: "A tiny Indian archipelago makes China nervous"
source: "CaspianReport"
sourceURL: "https://www.youtube.com/c/CaspianReport/videos"
description: "As the India-China rivalry grows, India is now militarizing the Andaman and Nicobar archipelago by the entry point of the Malacca Strait."
date: "2021-01-10"
tags:
- "geopolitics"
- "asia"
- "zach"
videoType: "youtube"
videoID: "tGn8FPd9bSI"
---
