---
layout: layouts/post-video.njk

title: "Collision That Formed The Moon"
source: "SpaceRip"
sourceURL: "https://www.youtube.com/c/SpaceRip/videos"
description: "Over five decades ago, Apollo astronauts brought back to Earth a wide variety of rocks from the Moon. Analysis of these rocks gave rise to a set of ideas describing the origin of the Moon called the Giant Impact Theory."
date: "2021-01-17"
tags:
- "astrophysics"
- "science"
- "zach"
videoType: "youtube"
videoID: "o2lRpiediP8"
---
