---
layout: layouts/post-video.njk

title: "My friends made me build kitchenware out of parts"
source: "Simone Giertz"
sourceURL: "https://www.youtube.com/c/simonegiertz/videos"
description: "I asked my friends to buy me a random object & I then had 48 hour to build something out of it."
date: "2021-01-31"
tags:
- "engineering"
- "metalworking"
- "steve"
videoType: "youtube"
videoID: "BXQf-yyRzM4"
---
