---
layout: layouts/post-video.njk

title: "The History of Coffee"
source: "Explore Mode"
sourceURL: "https://www.youtube.com/channel/UCQWrlWwNsMvvurG5HXXWLFw/videos"
description: "Coffee is of such importance in human lives that it’s even included in most military rations. But where did our love for this energy-boosting java juice come from? And how exactly did it spread across the globe?"
date: "2021-01-10"
tags:
- "history"
- "coffee"
- "debra"
videoType: "youtube"
videoID: "wuIiy5c_iHw"
---
