---
layout: layouts/post-video.njk

title: "The 5 Hour Rule"
source: "Thomas Frank"
sourceURL: "https://www.youtube.com/c/Thomasfrank/videos"
description: "Are the robots really coming for your job? While automation has been eliminating jobs for years, the answer isn't simply, \"Yes\" - especially if you can find a way to keep advancing alongside automation tech."
date: "2021-01-03"
tags:
- "learning"
- "artificial intelligence"
- "history"
- "steve"
videoType: "youtube"
videoID: "27fQl4oRlBI"
---
