---
layout: layouts/post-video.njk

title: "The First Real Images Of Pluto - What Have We Discovered?"
source: "SimplySpace"
sourceURL: "https://www.youtube.com/c/TheSimplySpace/videos"
description: "The dwarf planet Pluto is one of the most exciting celestial bodies in our galactic neighbourhood. In today's article we would like to present you with some real images of Pluto and provide you with a lot of background information and important facts about the former planet in the same breath."
date: "2021-01-24"
tags:
- "science"
- "space"
- "steve"
videoType: "youtube"
videoID: "6b-EIkbUO60"
---
