---
layout: layouts/post-video.njk

title: "These squids can fly... no, really"
source: "TED-Ed"
sourceURL: "https://www.youtube.com/teded/videos"
description: "In 1947, explorers noticed a strange phenomenon while crossing the Pacific Ocean. Somehow, small squid known to live deep beneath the waves kept appearing on the roof of their boat. The crew was mystified— until they saw the squids soaring above the sea for roughly 50 meters. How and why do these marine creatures take to the sky? Robert Siddall explores the high-flying capabilities of cephalopods."
date: "2021-01-24"
tags:
- "science"
- "biology"
- "zach"
videoType: "youtube"
videoID: "iMq89roPycI"
---
