---
layout: layouts/post-video.njk

title: "These Pools Help Support Half The People On Earth"
source: "Veritasium"
sourceURL: "https://www.youtube.com/c/veritasium/videos"
description: "What are these electric blue ponds in the middle of the Utah desert? And why do they keep changing color?"
date: "2021-01-31"
tags:
- "geoengineering"
- "chemistry"
- "zach"
videoType: "youtube"
videoID: "YMDJA4UvXLA"
---
