---
layout: layouts/post-video.njk

title: "What Physics Teachers Get Wrong About Tides!"
source: "PBS Space Time"
sourceURL: "https://www.youtube.com/c/pbsspacetime/videos"
description: "We all know tides have something to do with gravity from the Moon and Sun, but if gravity affects the motion of all objects equally, then how come oceans have large tides while other bodies of water don't?"
date: "2021-01-17"
tags:
- "astrophysics"
- "science"
- "sydney"
videoType: "youtube"
videoID: "pwChk4S99i4"
---
