<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ title }} | {{ metadata.title }}</title>
	<meta name="description" content="{{ description or metadata.description }}">

	{% include "source/_includes/components/head-meta-tags.njk" %}

	{% include "source/_includes/components/head-css-tags.njk" %}
</head>
<body class="dark">

<div class="night-container">
	<div class="night">
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
		<div class="shooting_star"></div>
	</div><!-- end night -->
</div><!-- end night container -->


<header class="container border-bottom mb-5 py-3 px-0 text-center">
	<h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

	<a href="/" class="btn font-weight-bold">Home</a>
	<a href="/about/" class="btn font-weight-bold">About</a>
	<a href="/posts/" class="btn font-weight-bold">Posts</a>
	<a href="/tags/" class="btn font-weight-bold">Tags</a>
	<a href="/resources/" class="btn font-weight-bold">Resources</a>
</header>



<main class="container">
	{{ content | safe }}
</main>

{% include "source/_includes/components/footer-js-tags.njk" %}

</body>
</html>
