---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---

{% set postslist = collections[ tag ] %}

{% if tag in ["colin", "damon", "steve", "debra", "sydney", "zach"] %}
    <h1>{{ postslist.length }} Video{{ "s" if postslist.length > 1 }} from <span class="post-tag">{{ tag }}</span></h1>
{% else %}
    <h1>{{ postslist.length }} Video{{ "s" if postslist.length > 1 }} tagged “<span class="post-tag">{{ tag }}</span>”</h1>
{% endif %}



{% include "postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
