---
layout: layouts/post-video.njk

title: "Answering The Most Important Questions About Coronavirus"
source: "Draw Curiosity"
sourceURL: "https://www.youtube.com/c/DrawCuriosity/videos"
description: "A deep dive into the origins and structure of the covid-19 virus, along with how it affects humans and why vaccines are so difficult to make."
date: "2021-02-07"
tags:
- "biology"
- "pandemic"
- "steve"
videoType: "youtube"
videoID: "oA8XYSftmtQ"
---
