---
layout: layouts/post-video.njk

title: "Geothermal Energy Explained - A Not So Hot Solution?"
source: "Undecided with Matt Ferrell"
sourceURL: "https://www.youtube.com/c/UndecidedMF/videos"
description: "What if I told you there was an always-on, carbon free, renewable power source deep beneath the earth's surface. Why haven't we been using this power source, literally available under our feet, as much as possible?  Let's look at the explanation behind Geothermal energy and it's challenges ... one of which is a little ... ground-breaking."
date: "2021-02-28"
tags:
- "energy"
- "geothermal"
- "zach"
videoType: "youtube"
videoID: "-HhdR9YRGxI"
---
