---
layout: layouts/post-video.njk

title: "How highways make traffic worse"
source: "Vox"
sourceURL: "https://www.youtube.com/c/Vox/videos"
description: "Big, expensive highway expansion projects are the source of a lot US transportation funding — but they aren't a silver bullet for congestion relief. In communities that were built for cars, solving traffic problems requires much more holistic problem-solving."
date: "2021-02-14"
tags:
- "engineering"
- "city planning"
- "zach"
videoType: "youtube"
videoID: "2z7o3sRxA5g"
---
