---
layout: layouts/post-video.njk

title: "How It's Built: Boeing 747"
source: "Tech Vision"
sourceURL: "https://www.youtube.com/channel/UCHAK6CyegY22Zj2GWrcaIxg/videos"
description: "The jumbo jet. An iconic passenger plane capable of carrying hundreds of people along with all their luggage. There are so many questions we could ask: how do they fly; how do they accelerate so quickly; but today we answer one of the most fascinating of all: how is such a feat of engineering built in the first place?"
date: "2021-02-07"
tags:
- "engineering"
- "planes"
- "zach"
videoType: "youtube"
videoID: "J8pCVyIRXkg"
---
