---
layout: layouts/post-video.njk

title: "How Earth Moves"
source: "Vsauce"
sourceURL: "https://www.youtube.com/c/vsauce1/videos"
description: "Time, calendars, gravity, and how Earth moves throughout the universe."
date: "2021-02-28"
tags:
- "physics"
- "space"
- "time"
- "steve"
videoType: "youtube"
videoID: "IJhgZBn-LHg"
---
