---
layout: layouts/post-video.njk

title: "How did planners design Soviet cities?"
source: "City Beautiful"
sourceURL: "https://www.youtube.com/c/CityBeautiful/videos"
description: "Revisiting the role of architects in planning large-scale housing in the USSR."
date: "2021-02-14"
tags:
- "engineering"
- "city planning"
- "zach"
videoType: "youtube"
videoID: "JGVBv7svKLo"
---
