---
layout: layouts/post-video.njk

title: "Recent discoveries in astrophysics: 2020"
source: "TheSimplySpace"
sourceURL: "https://www.youtube.com/c/TheSimplySpace/videos"
description: "The most fascinating secrets are hidden within our universe. Every galactic discovery helps professionals to draw an even more accurate picture of our galaxy. The 10 most recent discoveries from outer space have also played their part in significantly expanding our knowledge of the universe."
date: "2021-02-14"
tags:
- "astrophysics"
- "science"
- "steve"
videoType: "youtube"
videoID: "oU-WyOqRdrs"
---
