---
layout: layouts/post-video.njk

title: "Theory and Practice of 21st Century Socialism"
source: "Levy Economics Institute"
sourceURL: "https://www.youtube.com/channel/UCmvJCmiT1N4-5Zl2tnBTEYA/videos"
description: "Richard D. Wolff is Professor of Economics Emeritus, University of Massachusetts, Amherst, and this is his lecture on Worker Coops."
date: "2021-02-21"
tags:
- "economics"
- "socialism"
- "zach"
videoType: "youtube"
videoID: "a1WUKahMm1s"
---
