---
layout: layouts/post-video.njk

title: "VFX Artist Simulates PIXAR but with REAL Physics"
source: "Corridor Crew"
sourceURL: "https://www.youtube.com/c/corridorcrew/videos"
description: "Inspired by Pixar's animated masterpiece \"Up,\" Wren uses his VFX skills to show you what it would really take to lift a house with nothing but balloons."
date: "2021-02-21"
tags:
- "CGI"
- "movies"
- "steve"
videoType: "youtube"
videoID: "dZsp1tgXkUI"
---
