---
layout: layouts/post-video.njk

title: "Why this dome could be the future of data centers"
source: "CNET"
sourceURL: "https://www.youtube.com/c/CNET/videos"
description: "ServerDome is a sustainable alternative to traditional data centers that uses less water and energy to keep its servers cool."
date: "2021-02-21"
tags:
- "technology"
- "engineering"
- "steve"
videoType: "youtube"
videoID: "A7fKmlTeHJk"
---
