---
layout: layouts/post-video.njk

title: "All physics explained in 15 minutes"
source: "Arvin Ash"
sourceURL: "https://www.youtube.com/c/ArvinAsh/videos"
description: "Five areas of physics worth remembering: Classical mechanics, energy and thermodynamics, electromagnetism, Relativity, and Quantum Mechanics."
date: "2020-12-27"
tags:
- "science"
- "physics"
- "zach"
videoType: "youtube"
videoID: "TTHazQeM8v8"
---
