---
layout: layouts/post-video.njk

title: "Could planets from Star Wars really exist?"
source: "Simon Clark"
sourceURL: "https://www.youtube.com/c/SimonOxfPhys/videos"
description: "Scientists with PhDs in atmospheric physics and astrophysics examine which planets in the Star Wars universe could really exist!"
date: "2020-12-06"
tags:
- "space"
- "astrophysics"
- "steve"
videoType: "youtube"
videoID: "wwYS40uAxDE"
---
