---
layout: layouts/post-video.njk

title: "How Did Santa's Reindeer Get Their Names?"
source: "Name Explain"
sourceURL: "https://www.youtube.com/c/NameExplain/videos"
description: "A historical dive into where the name's of Santa's famous reindeer originated, and an interesting evolution of Christmas from 'tradition' to 'commercialization'."
date: "2020-12-27"
tags:
- "history"
- "christmas"
- "steve"
videoType: "youtube"
videoID: "YpZEvk2un8Y"
---
