---
layout: layouts/post-video.njk

title: "How the Universe is Way Bigger Than You Think"
source: "RealLifeLore"
sourceURL: "https://www.youtube.com/c/RealLifeLore/videos"
description: "The Universe is so enormous we can't really comprehend it all."
date: "2020-12-20"
tags:
- "space"
- "astrophysics"
- "steve"
videoType: "youtube"
videoID: "Iy7NzjCmUf0"
---
