---
layout: layouts/post-video.njk

title: "Inside the Superconducting X-ray Laser Engineered to Image the Atomic World"
source: "Seeker"
sourceURL: "https://www.youtube.com/c/Seeker/videos"
description: "The LCLS-II will be the world's brightest x-ray laser when it delivers "first light" in the early 2020's. With this superconducting accelerator online, scientists will be able to see the hidden world of atoms and molecules like never before."
date: "2020-12-20"
tags:
- "engineering"
- "quantum physics"
- "zach"
videoType: "youtube"
videoID: "X7CoLCTeqpE"
---
