---
layout: layouts/post-video.njk

title: "The Rise and Fall of Cahokia: North America’s First City"
source: "SciShow"
sourceURL: "https://www.youtube.com/c/SciShow/videos"
description: "They often don’t get as much attention, but North America had major cities long before European colonizers arrived, but the residents left behind no written history. How have archaeologists pieced together the details of these population centers?"
date: "2020-12-13"
tags:
- "history"
- "native americans"
- "zach"
videoType: "youtube"
videoID: "PS1TD6WFNeQ"
---
