---
layout: layouts/post-video.njk

title: "Vietnam War from the North Vietnamese Perspective"
source: "The Armchair Historian"
sourceURL: "https://www.youtube.com/c/TheArmchairHistorian/videos"
description: "The Vietnam War is a highly controversial topic at the best of times. But during their many debates on the subject, Western historians rarely pause to consider how the conflict was seen through the eyes of the Vietnamese people, either North or South. This video seeks to explore that little-known perspective, analysing the thoughts and motives behind perhaps the strangest, yet most persistent communist governments in Asia."
date: "2020-12-06"
tags:
- "history"
- "vietnam war"
- "zach"
videoType: "youtube"
videoID: "_pgcFqraekE"
---
