---
layout: layouts/post-video.njk

title: "What Language Would Santa Claus Speak?"
source: "Name Explain"
sourceURL: "https://www.youtube.com/c/NameExplain/videos"
description: "A brief look into the origins of Santa Claus."
date: "2020-12-27"
tags:
- "history"
- "christmas"
- "steve"
videoType: "youtube"
videoID: "1M_lSVNvRzE"
---
