---
layout: layouts/post-video.njk

title: "A NASA Space Probe Discovers a Huge Wall at the Edge of the Solar System"
source: "TheSimplySpace"
sourceURL: "https://www.youtube.com/c/TheSimplySpace/videos"
description: "The discovery of the NASA space probes New Horizon's and Voyager 2 could give cause to rethink the generally accepted picture of the never-ending universe."
date: "2021-03-07"
tags:
- "physics"
- "space"
- "steve"
videoType: "youtube"
videoID: "sga1ZPBJ9DY"
---
