---
layout: layouts/post-video.njk

title: "Are We Too Late To Avoid Kessler Syndrome?"
source: "Astrum"
sourceURL: "https://www.youtube.com/c/astrumspace/videos"
description: "Space junk and debris is starting to be a problem around Low Earth Orbit (LEO) according to the ESA and JAXA. Exactly how much is up there? And are we soon approaching the threshold of Kessler Syndrome?"
date: "2021-03-07"
tags:
- "space"
- "sustainability"
- "zach"
videoType: "youtube"
videoID: "MmVW8f31vI8"
---
