---
layout: layouts/post-video.njk

title: "Could Plastic-Eating Bacteria Save The Planet?"
source: "Bloomberg Quicktake"
sourceURL: "https://www.youtube.com/BloombergTV/videos"
description: "Plastic is one of Earth’s biggest problems. Its discovery transformed everyday life, but its failure to degrade is choking the planet. Recent discoveries, however, have given scientists hope that enzymes from bacteria might help fight plastic waste and even make future products less harmful."
date: "2021-03-21"
tags:
- "biology"
- "plastic"
- "sustainability"
- "zach"
videoType: "youtube"
videoID: "DDhPuyrSq3E"
---
