---
layout: layouts/post-video.njk

title: "Making homemade firelog starters - Part 2"
source: "Tiny House Listings"
sourceURL: "https://www.youtube.com/c/tinyhouselistings/videos"
description: "'Free And Virtually Unlimited Fuel To Heat Your Home'"
date: "2021-03-14"
tags:
- "survival"
- "firelogs"
- "steve"
videoType: "youtube"
videoID: "2aLZ88_DZz8"
---
