---
layout: layouts/post-video.njk

title: "Making homemade firelog starters - Part 3"
source: "Totally Chilled"
sourceURL: "https://www.youtube.com/c/TotallyChilled/videos"
description: "'How to make Cardboard Briquettes Homemade Press Vs Amazon fire logs bricks fire starters'"
date: "2021-03-14"
tags:
- "survival"
- "firelogs"
- "steve"
videoType: "youtube"
videoID: "WygXmflk5o0"
---
