---
layout: layouts/post-video.njk

title: "How To Lay Siege To A Star Fortress In The 16th and Early 17th Century"
source: "SandRhoman History"
sourceURL: "https://www.youtube.com/channel/UC7pr_dQxm2Ns2KlzRSx5FZA/videos"
description: "From the 14th to the 17th century the star fortress became ever more important for siege warfare. Engineers and tacticians developed fortresses that were more elaborate and more solid than ever before. As a result, siege warfare reached an immense level of complexity. Throughout the middle ages, high and relatively thin walls were enough protection against storming ladders, siege equipment and projectiles."
date: "2021-03-14"
tags:
- "history"
- "engineering"
- "warfare"
- "castles"
- "zach"
videoType: "youtube"
videoID: "HqIa-NpzAfg"
---
