---
layout: layouts/post-video.njk

title: "How museum gift shops decide what to sell"
source: "Vox"
sourceURL: "https://www.youtube.com/c/Vox/videos"
description: "When you see a certain piece of art on a lot of merchandise, that usually means curators think that artwork is important. And thanks to a psychological phenomenon called the mere-exposure effect, the more you see that art, the more you begin to think it’s important."
date: "2021-03-21"
tags:
- "psychology"
- "museums"
- "art"
- "zach"
videoType: "youtube"
videoID: "yb0nsX2GHQ0"
---
