---
layout: layouts/post-video.njk

title: "The Discovery That Transformed Pi"
source: "Veritasium"
sourceURL: "https://www.youtube.com/c/veritasium/videos"
description: "For thousands of years, mathematicians were calculating Pi the obvious but numerically inefficient way. Then Newton came along  and changed the game."
date: "2021-03-21"
tags:
- "mathematics"
- "history"
- "newton"
- "steve"
videoType: "youtube"
videoID: "gMlf1ELvRzc"
---
