---
layout: layouts/post-video.njk

title: "What Really Happened During the Texas Power Grid Outage?"
source: "Practical Engineering"
sourceURL: "https://www.youtube.com/c/PracticalEngineeringChannel/videos"
description: "When disaster strikes, the flurry of political positioning and fingerpointing can make it difficult to understand what really happened. This video provides a summary of the facts of the 2021 Texas winter storm."
date: "2021-03-28"
tags:
- "engineering"
- "weather"
- "texas winter storm 2021"
- "steve"
videoType: "youtube"
videoID: "08mwXICY4JM"
---
