---
layout: layouts/post-video.njk

title: "Why Are Modern Supply Chains So Needlessly Complex?"
source: "Economics Explained"
sourceURL: "https://www.youtube.com/c/EconomicsExplained/videos"
description: "How do companies come up with their intricate supply chains? Why are some of these supply chains so convoluted where others are extremely straightforward? Will the severe restrictions put on international shipping during the fallout of the coronavirus make companies rethink how far they extend their supply lines?"
date: "2021-03-28"
tags:
- "logistics"
- "manufacturing"
- "zach"
videoType: "youtube"
videoID: "DxELVyTyrtw"
---
